.forumContainer {
  .groupButton {
    width: 100%;
    background: white;
    height: 4em;
    border: 1px solid #eee;
    .btn:first-child {
      margin-left: 20px;
    }
  }
  .forumContent {
    border: none;
  }
}

.